body {
  background-color: black;
}
canvas {
  display: block;
  margin: 100px auto;
  margin-top: -4px;
  margin-bottom: -4px;
  border: white 5px dotted;
  background-color: black;
}

#iniciar {
  margin: 0 0 10px 0;
}

.card-body{
  background: black;
}
.card-footer{
  background: black;
}
#cont1{
  font-size: 1.2rem;
}